[Desktop Entry]
Name=WaveController
Comment=Elgato Wave Link & Advanced Multi-Track Virtual Mixer for Linux
Exec=/usr/bin/python3 "/home/oscar/Github Projects/WaveController/main.py"
Icon=com.oparada.WaveController
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;
